<%- include("../partials/header", {title: "Bảng điều khiển", css: []}) %> <%-include("../partials/navbar") %>

<div class="container mt-4">
  <% if (error.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } if (info.length > 0) { %>
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <%= info %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="card w-100 h-100 shadow-sm border-0">
        <img class="card-img-top" src="/assets/category.svg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">
            <a href="/admin/categories">Quản lý lĩnh vực</a>
          </h5>
          <p class="card-text">Thêm, xóa các lĩnh vực</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="card w-100 h-100 shadow-sm border-0">
        <img class="card-img-top" src="/assets/courses.svg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title"><a href="/admin/courses">Quản lý khóa học</a></h5>
          <p class="card-text">Xem danh sách các khoa học đang chờ phê duyệt</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12 mt-4">
      <div class="card w-100 h-100 shadow-sm border-0">
        <img class="card-img-top" src="/assets/lecturer.svg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title"><a href="/admin/lecturer">Quản lý giảng viên</a></h5>
          <p class="card-text">Xem danh sách các giảng viên có sẵn hoặc bổ sung thêm giảng viên</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-4">
      <div class="card w-100 h-100 shadow-sm border-0">
        <img class="card-img-top" src="/assets/setting.svg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title"><a href="/admin/students">Quản lý học viên</a></h5>
          <p class="card-text">Xem danh sách các học viên và thao tác với các thông tin của học viên</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
