<%- include("../partials/header", {title: "Danh sách giảng viên", css: [] }) %> <%-include("../partials/navbar") %>

<div class="modal fade" id="add-lecturer-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form method="POST" action="/admin/lecturer">
        <div class="modal-header">
          <h5 class="modal-title">Thêm giáo viên mới</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="form-control mb-2" type="text" name="fullName" placeholder="Tên giáo viên" required />
          <input class="form-control" type="text" name="email" placeholder="Email" required />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="submit" class="btn btn-primary">Thêm</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-lecturer-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form id="editForm" method="POST">
        <div class="modal-header">
          <h5 class="modal-title">Sửa thông tin giáo viên</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="form-control mb-2" type="text" name="fullName" placeholder="Tên giáo viên" required />
          <input class="form-control" type="text" name="email" placeholder="Email" required />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="delete-lecturer-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- Action is set via javascript -->
      <form id="deleteForm" method="POST">
        <div class="modal-header">
          <h5 class="modal-title">Xác nhận xóa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">Bạn có chắc muốn xóa lĩnh vực này</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="submit" class="btn btn-danger">Xác nhận</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container mt-4">
  <% if (error.length> 0) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } if (info.length> 0) { %>
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <%= info %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>

  <div class="card border-0 shadow-sm">
    <div class="card-header py-2 bg-primary text-white d-flex align-items-center">
      <div class="d-flex align-items-center">
        <a href="/admin" class="btn btn-primary mr-1">
          <i class="fas fa-chevron-left fa-lg fa-lg mr-2"></i>
        </a>
        Danh sách giảng viên
      </div>
      <div class="ml-auto">
        <a class="btn btn-primary" data-toggle="modal" data-target="#add-lecturer-modal">
          <i class="fas fa-plus fa-lg mr-1"></i>
        </a>
      </div>
    </div>

    <div class="d-flex row py-3 table-header w-100 ml-0">
      <span class="col-1 text-center font-weight-bold">#</span>
      <span class="col-sm-6 col-5 font-weight-bold">Tên</span>
      <span class="col-2 text-nowrap overflow-hidden text-center font-weight-bold">Email</span>
      <span class="col-3 text-nowrap overflow-hidden text-center font-weight-bold">Thao tác</span>
    </div>

    <% users.forEach((user, index)=> { %>
    <div id="<%=user._id%>" class="d-flex row py-2 border-bottom ml-0 w-100">
      <span class="col-1 text-center d-flex align-items-center justify-content-center font-weight-bold"
        ><%= index + 1 %></span
      >
      <span class="col-sm-6 col-5 d-flex align-items-center"> <%= user.fullName %></span>
      <span class="col-2 text-center d-flex align-items-center justify-content-center"><%= user.email %></span>
      <span class="col-sm-3 col-4 text-center action-container">
        <button
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#edit-lecturer-modal"
          data-user-id="<%= user._id %>"
          onclick="setActionForEditForm(this, '<%= user.fullName %>', '<%= user.email %>')"
        >
          <span class="fas fa-edit"></span>
        </button>
        <button
          class="btn btn-danger"
          data-toggle="modal"
          data-target="#delete-lecturer-modal"
          data-user-id="<%= user._id %>"
          onclick="setActionForDeleteForm(this)"
        >
          <span class="fas fa-trash"></span>
        </button>
      </span>
    </div>
    <% }) %>
  </div>
</div>

<script>
  const editForm = document.getElementById('editForm');
  const deleteForm = document.getElementById('deleteForm');

  function setActionForDeleteForm(button) {
    deleteForm.action = `/admin/lecturer/${button.dataset.userId}?_method=DELETE`;
  }

  function setActionForEditForm(button, fullName, email) {
    editForm.action = `/admin/lecturer/${button.dataset.userId}?_method=PUT`;
    editForm.fullName.value = fullName;
    editForm.email.value = email;
  }
</script>

<%- include("../partials/footer") %>
