<%- include("partials/header", {title: "Đăng ký", css: ["auth"]}) %> <%-include("partials/navbar") %>

<link rel="stylesheet" href="/css/auth.css" />

<div class="container mt-5">
  <div class="card shadow-sm border-0">
    <div class="row">
      <div class="d-flex col-md-6 col-xs-12">
        <img class="w-100" src="assets/learning2.svg" />
      </div>

      <div class="col-md-6 col-xs-12">
        <div id="auth-container" class="mx-auto">
          <div class="card-body">
            <h4 class="card-title text-center mb-4 mt-1">Đăng ký</h4>
            <hr />
            <% if (error.length > 0) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= error %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% } if (info.length > 0) { %>
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
              <%= info %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% } %>
            <form
              id="sign-up-form"
              class="form-group mt-4"
              method="POST"
              action="/signup"
              onsubmit="return validateForm()"
            >
              <span id="email-validate" class="text-danger"></span>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>

                <input
                  type="text"
                  name="email"
                  id="email"
                  placeholder="Email"
                  class="form-control"
                  aria-describedby="helpId"
                  required
                />
              </div>

              <div class="input-group my-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input
                  type="text"
                  name="fullName"
                  id="full-name"
                  placeholder="Họ và tên"
                  class="form-control"
                  aria-describedby="helpId"
                  required
                />
              </div>

              <div class="input-group my-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Mật khẩu"
                  class="form-control"
                  aria-describedby="helpId"
                  required
                />
              </div>

              <div class="my-3">
                <span id="password-validate" class="text-danger"></span>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  <input
                    type="password"
                    id="retype-password"
                    placeholder="Nhập lại mật khẩu"
                    class="form-control"
                    aria-describedby="helpId"
                    required
                  />
                </div>
              </div>

              <button id="submit-btn" class="btn btn-primary mt-2">Đăng ký</button>
            </form>

            <div class="or-container border-0">
              <div class="line-separator"></div>
              <div class="or-label">hoặc</div>
              <div class="line-separator"></div>
            </div>

            <div>
              <a class="btn btn-danger w-100 mb-2" href="/auth/google">
                <i class="fa fa-google mr-2"></i>
                <span>Đăng nhập với Google</span>
              </a>
              <a class="btn btn-primary w-100" href="/auth/facebook">
                <i class="fa fa-facebook mr-2"></i>
                <span>Đăng nhập với Facebook</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer", {scripts: ["signUp"]}) %>
