<div class="card shadow border-0 h-100">
  <img class="card-img-top" src="<%= course.avatar.path %>" alt="Card image cap" />
  <div class="card-body">
    <a href="/courses/<%=course._id%>">
    <h5 class="card-title">
      <%= course.name %>
    </h5>
    </a>
    <h6 class="card-subtitle mb-1 font-weight-light"><%= course.lecturerName %></h6>
        <div class="rating-bar">
      <% for (let i=0; i < 5; i++) { %>
        <span  class="fa fa-star <%= i < 3 ? " checked" : "" %>"></span>
      <% } %>
      <span>(100) </span>
    </div>
    <% if (course.price) { %>
    <h6 class="card-text">
      <%= new Intl.NumberFormat('de-DE').format(course.price) %> ₫
    </h6>
    <% } %>
  </div>
</div>