<div class="w-100">
  <% if (userReview) { %>
  <h5>Đánh giá của bạn</h5>
  <div class="card mb-4">
    <div class="card-body">
      <h6 class="mb-0">
        <%= userReview.writer.fullName %> <% for (let i = 1; i <= 5; i++) { %> <% if (i <= userReview.score) { %>
        <i class="fa fa-star checked"></i>
        <% } else { %>
        <i class="fa fa-star"></i>
        <%}} %>
      </h6>
      <p><%= userReview.message %></p>
    </div>
    <div class="card-footer">
      <button
        class="btn btn-primary"
        type="button"
        data-toggle="modal"
        data-target="#reviewModal"
        onclick="setActionReviewForm('/courses/<%=course._id%>/review/<%=userReview._id%>?_method=PUT', <%= userReview.score %>, '<%= userReview.message %>')"
      >
        Chỉnh sửa
      </button>
      <button class="btn btn-danger" data-toggle="modal" data-target="#deleteReviewModal">Xóa</button>
    </div>
  </div>
  <% } else if (invoice) { %>
  <div class="w-100 mb-2">
    <button
      class="btn btn-primary"
      type="button"
      data-toggle="modal"
      data-target="#reviewModal"
      onclick="setActionReviewForm('/courses/<%=course._id%>/review')"
    >
      <i class="fa fa-pen-alt mr-2"></i>Viết bài đánh giá
    </button>
  </div>
  <% } %>
  <h5>Đánh giá của các học viên trong khóa học</h5>
  <% if (course.reviews.length !==0) { %>
  <div class="w-100 shadow-sm border-0 d-flex">
    <ul class="list-group w-100">
      <% course.reviews.forEach(review => { %>
      <li class="list-group-item">
        <h6 class="mb-0">
          <%= review.writer.fullName %> <% for (let i = 1; i <= 5; i++) { %> <% if (i <= review.score) { %>
          <i class="fa fa-star checked"></i>
          <% } else { %>
          <i class="fa fa-star"></i>
          <%}} %>
        </h6>
        <p><%= review.message %></p>
      </li>
      <% }) %>
    </ul>
  </div>
  <% } else { %>
  <div class="card">
    <div class="card-body"><h6 class="mb-0">Hiện chưa có bài đánh giá</h6></div>
  </div>

  <% } %>
</div>
