<div class="course-carousel row px-3">
  <div class="swiper-container h-100">
    <div class="swiper-wrapper">
      <% courses.forEach(course => { %>
      <div class="swiper-slide mb-1">
        <img class="rounded mb-1" src="/images/<%= course.avatar %>" alt="<%= course.name %>" />

        <a href="/courses/<%=course._id%>">
          <h6 class="card-title"><%= course.name %></h6>
        </a>
        <h6 class="card-subtitle mb-1 font-weight-light"><%= course.lecturer.fullName %></h6>
        <h6><%=new Intl.NumberFormat('de-DE').format(course.price)%> đ</h6>
        <span class="font-weight-bold"><%= course.rating %></span>
        <% if (course.rating > 0) { %> <% for (let i = 1; i <= 5; i++) { %> <% if (i <= course.rating) { %>
        <span class="fa fa-star checked"></span>
        <% } else { %>
        <span class="fa fa-star"></span>
        <% }} %>
        <span>(<%=course.reviews.length%>)</span>
        <% } else { %>
        <p class="mb-0">Chưa có người đánh giá</p>
        <% } %>
      </div>
      <% }); %>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
