<%- include("../partials/header", {title: 'Các chương trong ' + section.name, css: []}) %>
<%-include("../partials/navbar") %>
<link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />

<div class="modal fade" id="lecture-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm bài giảng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="<%= section._id %>/lecture" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
          <input class="form-control" type="text" name="name" placeholder="Tên bài giảng" />
          <input class="form-control d-none" id="video-input" type="file" name="video" accept="video/*" />
          <div class="my-2 d-flex align-items-center">
            <a id="video-selector-toggler" class="btn btn-primary mr-2">
              <i class="fa fa-plus fa-lg"></i>
            </a>
            <span id="file-name-label" class="overflow-hidden">Chọn video</span>
          </div>
          <video
            class="video-js vjs-default-skin vjs-16-9"
            id="video-preview"
            class="video-js"
            controls
            preload="none"
            data-setup="{}"
          >
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="submit" class="btn btn-primary">Thêm</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="delete-lecture-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoá bài giảng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" enctype="multipart/form-data">
        <div class="modal-body">Bạn có chắc chắn muốn xóa bài giảng này</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="submit" class="btn btn-danger">Có</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container mt-4">
  <% if (error.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } if (info.length > 0) { %>
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <%= info %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>

  <div class="card">
    <div class="card-header bg-primary py-1">
      <h5 class="text-white m-0 d-flex align-items-center">
        <a href="/lecturer/course/<%=courseId%>/sections" class="btn btn-primary text-white mr-2"
          ><i class="fa fa-chevron-left fa-lg"></i></a
        >Chỉnh sửa nội dung chương <%= section.name %>
        <span class="ml-auto">
          <button class="btn btn-primary" data-toggle="modal" data-target="#lecture-modal">
            <i class="fa fa-plus fa-lg"></i>
          </button>
        </span>
      </h5>
    </div>
    <ul class="list-group border-0">
      <% section.lectures.forEach(lecture => { %>
      <li class="list-group-item py-1 pl-3 pr-1 d-flex align-items-center">
        <span><%= lecture.name %></span>
        <div class="ml-auto">
          <button
            class="btn btn-primary"
            data-action="<%= section._id %>/lecture/<%=lecture._id%>?_method=PUT"
            data-toggle="modal"
            data-target="#lecture-modal"
            data-name="<%=lecture.name%>"
            data-video-path="<%=lecture.video.path%>"
            data-video-extension="<%=lecture.video.extension%>"
          >
            <i class="fa fa-edit"></i>
          </button>
          <button
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#delete-lecture-modal"
            data-action="<%= section._id %>/lecture/<%=lecture._id%>?_method=DELETE"
          >
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </li>
      <% }); %>
    </ul>
  </div>
</div>

<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
<%- include("../partials/footer", {scripts: ['lectureEdit','modal']}) %>
