<%- include("../partials/header", {title: `Chỉnh sửa khóa ${course.name}`, css: ["newCourse"]}) %>
<%-include("../partials/navbar") %>

<div class="container mt-2">
  <% include('../partials/messageAlert') %>
  <div class="card rounded border-0 shadow-sm">
    <div class="card-header bg-primary">
      <h5 class="text-white m-0">Chỉnh sửa khóa <%= course.name %></h5>
    </div>
    <div class="card-body">
      <form
        id="main-form"
        action="/lecturer/course/<%= course._id %>?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
        autocomplete="off"
      >
        <div class="row mb-2">
          <div class="col-12 col-md-6">
            <input
              id="file-input"
              class="d-none"
              name="avatar"
              type="file"
              accept="image/*"
              onchange="changeImage(this)"
            />
            <div class="card mb-2" id="image-selector" onclick="triggerFileInput()">
              <div>
                <div class="pb-2">
                  <span>
                    <i class="fa fa-image fa-lg"></i>
                  </span>
                </div>
                <p><b>Chọn ảnh đại diện</b> từ thiết bị</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <input
              class="form-control mb-2"
              type="text"
              name="name"
              value="<%= course.name %>"
              placeholder="Tên khóa học"
              required
            />
            <div class="auto-complete-container">
              <input class="d-none" value="<%= course.category._id %>" name="category" />
              <input
                id="category-input"
                value="<%= course.category.name %>"
                class="form-control mb-2"
                type="text"
                placeholder="Lĩnh vực"
                required
              />
              <div id="category-auto-complete" class="list-group shadow"></div>
              <input
                value="<%= course.price %>"
                class="currency-selector form-control mb-2"
                name="price"
                placeholder="Giá (VNĐ)"
                required
              />
              <input
                name="discount"
                value="<%= course.discount %>"
                class="form-control mb-2"
                type="number"
                placeholder="Giảm giá (VNĐ)"
                required
              />

              <textarea
                name="shortDescription"
                value="<%= course.shortDescription %>"
                class="form-control"
                placeholder="Mô tả ngắn"
              ></textarea>
            </div>
          </div>
        </div>
        <textarea class="border-0" id="description" name="description" placeholder="Mô tả khóa học">
        <%- course.description %>
        </textarea>
        <div class="d-flex justify-content-end mt-4">
          <button type="button" class="btn btn-secondary mr-2">Hủy</button>
          <button type="submit" class="btn btn-primary">Cập nhật</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script
  src="https://cdn.tiny.cloud/1/s9g2wvhjas0t1gx4fozjrktqpilnrp362xmamalr5ra9tddi/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"
></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>

<script>
  tinymce.init({
    selector: '#description',
    menubar: false,
    toolbar:
      'undo redo | bold italic underline | fontsizeselect | alignleft aligncenter alignright alignjustify | outdent indent',
    plugins: 'advlist link image lists',
    resize: false,
    height: 400,
    content_style: '/css/editor.css',
  });
</script>

<script>
  const form = document.getElementById('main-form');
  let categories = '<%- JSON.stringify(categories) %>';
  const mainCategories = JSON.parse(categories);
  let subCategories = [];
  mainCategories.forEach((category) => {
    subCategories = subCategories.concat(category.subCategories);
  });
  const categoryInput = document.getElementById('category-input');
  const categoryAutoComplete = document.getElementById('category-auto-complete');

  const fuse = new Fuse(subCategories, { keys: ['name'] });

  categoryInput.addEventListener('input', (e) => {
    form.category.value = '';
    const value = e.target.value;
    categoryAutoComplete.innerHTML = '';
    if (value === '') {
      return;
    }

    const result = fuse.search(value);

    result.forEach(({ item }) => {
      const element = document.createElement('a');
      element.href = '#';
      element.className = 'list-group-item list-group-item-action py-2';
      element.textContent = item.name;

      element.addEventListener('click', (e) => {
        form.category.value = item._id;
        categoryInput.value = item.name;
        categoryAutoComplete.innerHTML = '';
      });

      categoryAutoComplete.appendChild(element);
    });
  });

  const fileInput = document.getElementById('file-input');
  const imageSelector = document.getElementById('image-selector');
  let avatar = '<%=course.avatar.path %>';

  if (avatar) {
    imageSelector.style.backgroundImage = `url("/images/${avatar}")`;
    imageSelector.children[0].style.display = 'none';
  }
  function triggerFileInput() {
    fileInput.click();
  }

  function changeImage(e) {
    if (e.files[0] === null) {
      imageSelector.style.backgroundImage = 'none';
      imageSelector.children[0].style.display = 'block';
    } else {
      imageSelector.style.backgroundImage = `url("${window.URL.createObjectURL(e.files[0])}")`;
      imageSelector.children[0].style.display = 'none';
    }
  }
</script>

<%- include("../partials/footer") %>
