<%- include ('../partials/header.ejs', {title: `Khóa học ${course.name}`, css: ['tabs']}) %> <%- include
('../partials/navbar.ejs') %>
<link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
<link href="http://videojs.github.io/font/css/videojs-icons.css" rel="stylesheet" />

<div class="modal fade" id="preview-video-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xem trước bài giảng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mb-2">
        <video
          class="video-js vjs-default-skin vjs-16-9"
          id="video-preview"
          class="video-js"
          controls
          autoplay
          data-setup="{}"
        >
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận đăng ký</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% if (currentUser && currentUser.active) { %>
      <div class="modal-body">Bạn có chắc muốn tham gia khóa học này?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <form method="POST" action="/courses/<%=course._id%>/enroll">
          <button type="submit" class="btn btn-primary">Xác nhận</button>
        </form>
      </div>
      <% } else if (currentUser) { %>
      <div class="modal-body">Bạn chưa kích hoạt tài khoản</div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary">Ok</button>
      </div>
      <% } else { %>
      <div class="modal-body">Bạn chưa đăng nhập, hãy đăng nhập để tham gia khóa học</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <a href="/signin" class="btn btn-primary">Đăng nhập</a>
      </div>
      <% } %>
    </div>
  </div>
</div>

<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bạn đánh giá thế nào về khóa học này?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="reviewForm" method="POST" action="/courses/<%=course._id%>/review">
        <div class="modal-body">
          <input id="scoreInput" class="d-none" type="number" name="score" value="5" />
          <div class="rating-bar-lg mb-4 d-flex align-items-center">
            <span><i class="fa fa-star fa-lg cursor-pointer px-1 checked" data-score="1"></i></span>
            <span><i class="fa fa-star fa-lg cursor-pointer px-1 checked" data-score="2"></i></span>
            <span><i class="fa fa-star fa-lg cursor-pointer px-1 checked" data-score="3"></i></span>
            <span><i class="fa fa-star fa-lg cursor-pointer px-1 checked" data-score="4"></i></span>
            <span><i class="fa fa-star fa-lg cursor-pointer px-1 checked" data-score="5"></i></span>
            <h5 id="scoreMessage" class="mb-0 ml-2">Tuyệt vời</h5>
          </div>
          <!-- <textarea class="border-0" id="reviewMessage" name="message" placeholder="Hãy để lại vài lời nhận xét">
          </textarea> -->
          <textarea name="message" class="form-control" placeholder="Hãy để lại vài lời nhận xét"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="submit" class="btn btn-primary">Đánh giá</button>
        </div>
      </form>
    </div>
  </div>
</div>

<% if (locals.userReview) { %>
<div class="modal fade" id="deleteReviewModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa đánh giá</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/courses/<%=course._id%>/review/<%=userReview._id%>?_method=DELETE">
        <div class="modal-body">
          <p>Bạn có chắc muốn xóa đánh giá này?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <form action="/courses/<%=course._id%>/review/<%= userReview._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Xác nhận</button>
          </form>
        </div>
      </form>
    </div>
  </div>
</div>
<% } %>

<div class="container mt-3">
  <%- include ('../partials/messageAlert.ejs') %>
  <div class="card border-0 shadow-sm">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 col-12">
          <img class="w-100 rounded" src="/images/<%=course.avatar%>" />
        </div>
        <div class="col-md-6 col-12">
          <h2><%= course.name %></h2>
          <% if (course.completed) { %>
          <p class="badge badge-primary mb-0">Đã hoàn thành</p>
          <% } else { %>
          <p class="badge badge-danger mb-0">Chưa hoàn thành</p>
          <% } %>
          <h5 class="mb-0"><%= course.lecturer.fullName %></h5>
          <p class="mb-1"><%= course.shortDescription %></p>

          <% if (course.rating > 0) { %>
          <div>
            <span class="checked font-weight-bold"><%= course.rating %> </span>
            <% for (let i = 1; i <= 5; i++) { %> <% if (i <= course.rating) { %>
            <span class="fa fa-star checked"></span>
            <% } else { %>
            <span class="fa fa-star"></span>
            <% }} %>
            <span>(<%= locals.userReview ? course.reviews.length + 1 : course.reviews.length %> đánh giá)</span>
          </div>
          <% } else { %>
          <p class="mb-0">Chưa có người đánh giá</p>
          <% } %> <% if (course.discount === 0) { %>
          <h5><%=new Intl.NumberFormat('de-DE').format(course.price)%> đ</h5>
          <% } else { %>
          <h6>
            <span><%=new Intl.NumberFormat('de-DE').format(course.price * (100 - course.discount) / 100)%> đ</span>
            <span class="font-weight-light text-decoration-line-through"
              ><%=new Intl.NumberFormat('de-DE').format(course.price) %> đ</span
            >
          </h6>
          <% } %>
          <p class="mb-0">Cập nhật lần cuối vào <%= moment(course.lastUpdate).fromNow() %></p>
          <p class="mb-0"><%= course.studentCount %> người học - <%= course.viewCount %> lượt xem</p>
          <p></p>
          <% if (!locals.invoice) { %>
          <button class="btn btn-primary mt-2" type="button" data-toggle="modal" data-target="#courseModal">
            Ghi danh
          </button>
          <% } else { %>
          <div class="d-flex mt-2">
            <a href="/courses/<%=course._id%>/learn" class="btn btn-primary mr-1">Vào học</a>
            <% if (!isFavorite) { %>
            <form method="POST" action="/profile/favorite">
              <input class="d-none" type="text" name="courseId" value="<%= course._id%>" />
              <button class="btn btn-secondary"><i class="fa fa-heart"></i></button>
            </form>
            <% } else { %>
            <form method="POST" action="/profile/unfavorite">
              <input class="d-none" type="text" name="courseId" value="<%= course._id%>" />
              <button class="btn btn-danger"><i class="fa fa-heart"></i></button>
            </form>
            <% } %>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <ul class="nav nav-tabs mt-3">
    <li class="nav-item">
      <a class="nav-link text-dark active" data-tab="0" href="#">Chương trình học</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" data-tab="1" href="#">Đánh giá</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" data-tab="2" href="#">Giảng viên</a>
    </li>
  </ul>
  <div class="card border-top-0 tab-body">
    <div class="card-body">
      <div id="syllabus-tab">
        <h5 class="mb-0">Mô tả</h5>
        <p><%- course.description %></p>
        <%- include('./partials/syllabus', {course}) %>
      </div>
      <div id="review-tab" class="d-none">
        <%- include('./partials/courseReviews', {course, userReview: locals.userReview, invoice:locals.invoice}) %>
      </div>
      <div id="lecturer-tab" class="d-none"><%- include('./partials/lecturerInfo', {lecturer: course.lecturer}) %></div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h5>Khoá học cùng thể loại</h5>
      <div class="row">
        <% relatedCourses.forEach(course => { %>
        <div class="col-6 col-sm-4 col-md-3">
          <img class="rounded mb-1 w-100" src="/images/<%= course.avatar %>" alt="<%= course.name %>" />

          <a href="/courses/<%=course._id%>">
            <h5 class="card-title"><%= course.name %></h5>
          </a>

          <h6 class="card-subtitle mb-1 font-weight-light"><%= course.lecturer.fullName %></h6>
          <% if (course.discount === 0) { %>
          <h6><%=new Intl.NumberFormat('de-DE').format(course.price)%> đ</h6>
          <% } else { %>
          <h6>
            <span><%=new Intl.NumberFormat('de-DE').format(course.price * (100 - course.discount) / 100)%> đ</span>
            <span class="font-weight-light text-decoration-line-through"
              ><%=new Intl.NumberFormat('de-DE').format(course.price) %> đ</span
            >
          </h6>
          <% } %> <% if (course.rating > 0) { %>
          <span class="font-weight-bold"><%= course.rating %></span><% for (let i = 1; i <= 5; i++) { %> <% if (i <=
          course.rating) { %>
          <span class="fa fa-star checked"></span>
          <% } else { %>
          <span class="fa fa-star"></span>
          <% }} %>
          <span>(<%=course.reviews.length%>)</span>
          <% } else { %>
          <p class="mb-0">Chưa có người đánh giá</p>
          <% } %>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>

<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
<%- include('../partials/footer.ejs', {scripts: ["courseSection", "review", "tabs"]}) %>
