<%- include ('../partials/header.ejs', {title: "Trang chủ", css: ['courseCarousel']}) %> <%- include
('../partials/navbar.ejs') %>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<div class="container mt-3">
  <%- include ('../partials/messageAlert.ejs') %>
  <div id="featureCourses" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <% featureCourses.forEach((course, index) => {%>
      <li data-target="#featureCourses" data-slide-to="<%=index%>" class="<%= index === 0?'active' : ''%>"></li>
      <% }); %>
    </ul>

    <div class="carousel-inner rounded">
      <% featureCourses.forEach(({course}, index) => {%>
      <div class="carousel-item <%= index === 0?'active' : ''%>">
        <img src="/images/<%=course.avatar%>" alt="<%= course.name %>" />
        <div class="carousel-caption d-none d-md-block">
          <h5><%= course.name %></h5>
        </div>
      </div>
      <% }); %>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#featureCourses" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next shadow-sm" href="#featureCourses" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <h5 class="mt-4">Khóa học mới nhất</h5>
  <%- include('./partials/coursesCarousel', {courses: newCourses}) %>
  <h5 class="mt-4">Khóa học được xem nhiều nhất</h5>
  <%- include('./partials/coursesCarousel', {courses: mostViewCourses}) %>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 1,
    spaceBetween: 10,
    slidesPerGroup: 1,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      480: {
        slidesPerView: 2,
        spaceBetween: 5,
        slidesPerGroup: 2,
      },
      720: {
        slidesPerView: 3,
        spaceBetween: 5,
        slidesPerGroup: 4,
      },
      960: {
        slidesPerView: 4,
        spaceBetween: 10,
        slidesPerGroup: 4,
      },
    },
  });
</script>
<%- include('../partials/footer.ejs') %>
