<%- include ('../partials/header.ejs', {title: "Trang chủ", css: []}) %> <%- include ('../partials/navbar.ejs') %>

<div class="container mt-3">
  <%- include ('../partials/messageAlert.ejs') %>
  <div id="featureCourses" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <% featureCourses.forEach((course, index) => {%>
      <li data-target="#featureCourses" data-slide-to="<%=index%>" class="<%= index === 0?'active' : ''%>"></li>
      <% }); %>
    </ul>

    <div class="carousel-inner rounded">
      <% featureCourses.forEach(({course}, index) => {%>
      <div class="carousel-item <%= index === 0?'active' : ''%>">
        <img src="<%=course.avatar.path%>" alt="<%= course.name %>" />
        <div class="carousel-caption d-none d-md-block">
          <h5><%= course.name %></h5>
        </div>
      </div>
      <% }); %>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#featureCourses" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#featureCourses" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <h5 class="mt-4">Khóa học được xem nhiều nhất</h5>
  <div class="row">
    <% mostViewCourses.forEach(course => { %>
    <div class="col-sm-3"><%- include("partials/course", {course}), %></div>
    <% }); %>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
