<%- include ('../partials/header.ejs', {title: `Khoá học ${course.name}`, css: []}) %> <%- include
('../partials/navbar.ejs') %>

<link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
<link href="http://videojs.github.io/font/css/videojs-icons.css" rel="stylesheet" />

<div class="container">
  <div class="card mt-3 border-0 shadow-sm">
    <div class="card-header bg-primary text-white"><h5 class="mb-0"><%= course.name %></h5></div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-8 col-12">
          <video
            class="video-js vjs-default-skin vjs-16-9"
            id="video-preview"
            class="video-js"
            controls
            autoplay
            data-setup="{}"
            data-start="<%=record?record.complete:0%>"
          >
            <source src="/videos/<%= lecture.video.path %>" type="video/<%= lecture.video.extension %>" />
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>
          <div class="row d-flex align-items-center mt-2 mx-3">
            <% if (lecture.previousSectionNo !== null) { %>
            <a
              class="col-1 btn btn-primary"
              href="/courses/<%=course._id%>/sections/<%=lecture.previousSectionNo%>/lectures/<%=lecture.previousLectureNo%>"
              ><i class="fa fa-chevron-left fa-lg"></i
            ></a>
            <% } else { %>
            <a class="col-1 btn btn-disable"><i class="fa fa-chevron-left fa-lg"></i></a>
            <% } %>
            <p class="col-10 mb-0 text-center"><%= lecture.name %></p>
            <% if(lecture.nextSectionNo !== null) { %>
            <a
              class="col-1 btn btn-primary"
              href="/courses/<%=course._id%>/sections/<%=lecture.nextSectionNo%>/lectures/<%=lecture.nextLectureNo%>"
              ><i class="fa fa-chevron-right" aria-hidden="true"></i
            ></a>
            <% } else { %>
            <a class="col-1 btn btn-disable"><i class="fa fa-chevron-right fa-lg"></i></a>
            <% } %>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <%- include ('../partials/messageAlert.ejs') %>
          <ul class="list-group">
            <% course.sections.forEach((section, sectionNo) => { %>
            <li class="list-group-item">
              <h6 class="cursor-pointer mb-0 section-toggler">
                <span class="h-100 position-absolute">
                  <i class="fa fa-chevron-down mr-2"></i>
                </span>
                <span class="pl-4"><%= section.name %></span>
              </h6>
            </li>
            <li class="list-group-item" data-toggle="<%= sectionNo === lecture.sectionNo%>">
              <ul class="list-unstyled">
                <% section.lectures.forEach(({name, completed}, lectureNo) => { %> <% if (sectionNo !==
                lecture.sectionNo || lectureNo !== lecture.lectureNo) { %>
                <li class="pl-4">
                  <a class="text-dark" href="/courses/<%=course._id%>/sections/<%=sectionNo%>/lectures/<%=lectureNo%>"
                    ><%= name %> <% if (completed) { %> <i class="fa fa-check"></i
                  ></a>
                  <% } %>
                </li>
                <% } else { %>
                <li class="text-primary d-flex">
                  <span class="position-absolute"><i class="fa fa-play"></i></span>
                  <a class="text-decoration-none pl-4 cursor-pointer"><%= name %></a>
                </li>
                <% } %> <% }); %>
              </ul>
            </li>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
<script>
  const video = document.querySelector('video');
  let start = video.dataset.start;

  video.onloadedmetadata = function () {
    if (start && start !== '') {
      start = +start;
      console.log(start, this.duration);
      console.log(Math.floor(start * this.duration));
      player.currentTime(Math.floor(start * this.duration));
    }
  };

  var player = videojs(video, {});

  let currentTime = 0;

  setInterval(() => {
    if (player.currentTime() !== currentTime) {
      currentTime = player.currentTime();
      console.log(currentTime);
      fetch('/courses/<%=course._id%>/records', {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ lectureId: '<%=lecture._id %>', complete: currentTime / player.duration() }),
      }).then();
    }
  }, 10000);
</script>
<%- include('../partials/footer.ejs', {scripts: ["courseSection"]}) %>
