<%- include ('../partials/header.ejs', {title: `Kết quả tìm kiếm của "${query}"`, css: []}) %> <%- include
('../partials/navbar.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card mt-3 border-0 shadow-sm">
        <form method="GET" action="/search">
          <div class="card-body">
            <h6>Sắp xếp theo</h6>
            <input class="d-none" name="q" value="<%=query%>" />
            <% if (sort === "price") { %>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sort" id="ratingSort" value="rating" />
              <label class="form-check-label" for="ratingSort"> Điểm đánh giá giảm dần </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sort" id="priceSort" value="price" checked />
              <label class="form-check-label" for="priceSort"> Giá tăng dần </label>
            </div>
            <% } else { %>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sort" id="ratingSort" value="rating" checked />
              <label class="form-check-label" for="ratingSort"> Điểm đánh giá giảm dần </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sort" id="priceSort" value="price" />
              <label class="form-check-label" for="priceSort"> Giá tăng dần </label>
            </div>
            <% } %>

            <h6 class="mt-2">Lĩnh vực</h6>
            <% availabelCategories.forEach(category => { %>
            <div class="form-check">
              <input
                class="form-check-input"
                name="categories"
                type="checkbox"
                value="<%= category._id%>"
                checked
                id="<%= category._id%>"
              />
              <label class="form-check-label" for="<%= category._id%>"> <%= category.name %> </label>
            </div>
            <% }) %>
          </div>
          <div class="card-footer d-flex py-2 pr-2"><button class="btn btn-primary ml-auto">Lọc</button></div>
        </form>
      </div>
    </div>
    <div class="col-9">
      <div class="card mt-3 border-0 shadow-sm">
        <div class="card-header bg-primary text-white"><h5 class="mb-0">Kết quả tìm kiếm "<%= query %>"</h5></div>
        <div class="card-body">
          <% if (courses.length === 0) { %>
          <p>Không tìm thấy khóa học phù hợp</p>
          <% } else { %> <% courses.forEach(course => { %>
          <div>
            <div class="d-flex border-bottom mb-2 py-2">
              <img class="rounded mr-3" height="150" src="/images/<%=course.avatar%>" alt="" />
              <div>
                <h5 class="mb-0">
                  <a href="/courses/<%=course._id%>"><%= course.name %></a>
                  <% if (course.isNew) { %>
                  <span class="badge badge-primary">Mới</span>
                  <% } %> <% if (course.isBestSeller) { %>
                  <span class="badge badge-warning">Bán chạy</span>
                  <% } %>
                </h5>

                <p class="mb-0"><%= course.lecturer.fullName %></p>
                <% if (course.discount === 0) { %>
                <h6><%=new Intl.NumberFormat('de-DE').format(course.price)%> đ</h6>
                <% } else { %>
                <h6>
                  <span
                    ><%=new Intl.NumberFormat('de-DE').format(course.price * (100 - course.discount) / 100)%> đ</span
                  >
                  <span class="font-weight-light text-decoration-line-through"
                    ><%=new Intl.NumberFormat('de-DE').format(course.price) %> đ</span
                  >
                </h6>
                <% } %> <% if (course.rating > 0) { %> <% for (let i = 1; i <= 5; i++) { %> <% if (i <= course.rating) {
                %>
                <span class="fa fa-star checked"></span>
                <% } else { %>
                <span class="fa fa-star"></span>
                <% }} %>
                <span>(<%=course.reviews.length%>)</span>
                <% } else { %>
                <p class="mb-0">Chưa có người đánh giá</p>
                <% } %>
                <p><%= course.studentCount %> học viên</p>
              </div>
            </div>
            <% }); %>
            <nav>
              <ul class="pagination">
                <% if (page > 0) { %>
                <li class="page-item">
                  <a class="page-link" href="/search?q=<%=query%>&page=<%=page-1%>&sort=<%=sort%>">Trước</a>
                </li>
                <% } else { %>
                <li class="page-item disabled">
                  <a class="page-link" href="#">Trước</a>
                </li>
                <% } %> <% pages.forEach(index => { %> <% if (index === page){ %>
                <li class="page-item active"><a class="page-link"><%=index + 1%></a></li>
                <% }else {%>
                <li class="page-item">
                  <a class="page-link" href="/search?q=<%=query%>&page=<%=index%>&sort=<%=sort%>"><%=index + 1%></a>
                </li>
                <% }}) %> <% if (page < length - 1) { %>
                <li class="page-item">
                  <a class="page-link" href="/search?q=<%=query%>&page=<%=page+1%>&sort=<%=sort%>">Tiếp theo</a>
                </li>
                <% } else { %>
                <li class="page-item disabled">
                  <a class="page-link" href="#">Tiếp theo</a>
                </li>
                <% } %>
              </ul>
            </nav>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer.ejs', {scripts: ["courseDetail"]}) %>
